nav {
  background: linear-gradient(120deg, lightblue, #CCCCFF);
  min-height: 60px;
}

.navbar-brand {
  font-family: 'Satisfy', sans-serif;
  color: #8d8df6 !important;
  border: 1px solid lightgray;
  font-size: 25px;
  background-color: white;
  padding-left: 24px;
  padding-right: 24px;
}

.navbar-toggler {
  border: transparent;
}

@media (min-width: 768px) {

  .search-input {
    outline: none;
    border: none;
    background: none;
    width: 0;
    padding: 0;
    color: white;
    transition: 0.4s;
  }

  .search-btn {
    transition: 0.3s;
  }

  .search-input:focus {
    width: 200px;
    margin-left: -200px;
  }

  .search-box:hover > .search-input {
    width: 200px;
    margin-left: -200px;
    background-color: white;
  }
}

.list-header {
  position: sticky;
  top: 0px;
  background-color: white;
  border-bottom: 2px solid black;
}