@import "@packs/variables.scss";

#emr-nav {
  background-color: $secondary-color;
  background: linear-gradient(120deg, $tertiary-color, $secondary-color);
  min-height: 60px;

  .navbar-brand {
    font-family: $primary-font;
    color: $primary-color;
    border: 1px solid lightgray;
    font-size: 25px;
    background-color: white;
    padding: 5px 24px;
  }

  .navbar-toggler {
    border: transparent;
  }

  @media (max-width: 767px) {
    .navbar-toggler {
      position: relative;
      z-index: 1000;
    }

    h5 {
      z-index: 1001;
    }
  
    #navbarNav {
      position: absolute;
      z-index: 5;
      background-color: #CCCCFF;
      background: linear-gradient(120deg, lightblue, #CCCCFF);
      top: 0;
      left: 0;
      right: 0;
      padding-top: 60px;
    }
  }
  
  @media (min-width: 768px) {
    .search-input {
      outline: none;
      border: none;
      background: none;
      width: 0;
      padding: 0;
      color: white;
      transition: 0.4s;
    }
  
    .search-btn {
      transition: 0.3s;
    }
  
    .search-input:focus {
      width: 200px;
      margin-left: -200px;
    }
  
    .search-box:hover>.search-input {
      width: 200px;
      margin-left: -200px;
      background-color: white;
    }
  }
}