@media (min-width: 768px) {
  #search-row {
    .form-control {
      outline: none;
      border: none;
      background: none;
      width: 0;
      height: 100%;
      padding: 0;
      color: white;
      transition: 0.4s;
    }
  }

  #search-row:focus {
    margin-right: -90px;
  }

  .search-box:hover > #search-row {
    margin-right: -90px;
  }

  #searc-row .form-control:focus {
    width: 300px;
    outline: none;
    color: black;
    height: 100%;
  }

  .search-box:hover > #search-row .form-control {
    width: 300px;
    background-color: white;
    color: black;
    height: 100%;
  }
}