@import "@packs/variables.scss";

.navbar-brand {
  font-family: $primary-font;
  color: $primary-color !important;
  font-size: 25px;
}

footer {
  padding-top: 20px;
  background-color: rgba(238, 238, 238);

  a {
    color: inherit;
    text-decoration: none;
  }
}