.navbar-brand {
  font-family: 'Satisfy', sans-serif;
  color: #8d8df6 !important;
  font-size: 25px;
}

footer {
  padding-top: 20px;
  background-color: rgba(238, 238, 238);
  a {
    color: inherit;
    text-decoration: none;
  }
}