.container-fluid {
  padding-left: 24px;
  padding-right: 24px;
}

@media (max-width: 991px) {
  .landing-page {
    border-bottom: 2px solid black;
  }
  #hero {
    min-height: 300px;
  }
}

@media (min-width: 992px) {
  #hero {
    height: 100vh;
    min-height: 650px;
  }

  #hero-cards {
    position: absolute;
    top: 200px;
    width: 100%;
  }
}

.nav-item .nav-link:hover {
  opacity: 0.4;
}

#hero {
  background-image: url(../../assets/images/anton-8q-U8X1zkvI-unsplash.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  h1 {
    padding-top: 45px;
  }
}

#hero-cards {
  .container-fluid {
    padding-left: 0;
    padding-right: 0;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  .hero-card {
    background-color: rgba(255, 255, 255, 0.8);
    border-top: 5px solid #CCCCFF;
    min-height: 250px;
  }
}

.hero-footer {
  background-color: #253746;
}

