#landing-page {
  .container-fluid {
    padding-left: 24px;
    padding-right: 24px;
  }

  #hero {
    background-image: url(../../../../assets/images/anton-8q-U8X1zkvI-unsplash.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    h1 {
      padding-top: 45px;
    }
  }

  #hero-cards {
    .container-fluid {
      padding-left: 0;
      padding-right: 0;
    }
  
    a {
      color: inherit;
      text-decoration: none;
    }

    a:hover {
      color: rgba(0, 0, 0, 0.6);
    }
  
    .hero-card {
      background-color: rgba(255, 255, 255, 0.8);
      border-top: 5px solid #CCCCFF;
      min-height: 250px;
    }
  }
  
  .aspectRatio {
    padding-top: calc(2 / 3 * 100%); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  #patientListCrop {
    background-image: url(../../../../assets/images/patientListCrop.PNG);
  }

  #vitalCrop {
    background-image: url(../../../../assets/images/vitalsCrop.PNG);
  }

  #iograph {
    background-image: url(../../../../assets/images//iograph.PNG);
  }

  .hero-footer {
    background-color: #253746;
  }

  @media (max-width: 991px) {
    .landing-page {
      border-bottom: 2px solid black;
    }
    #hero {
      min-height: 300px;
    }
    footer {
      border-top: 2px solid black;
    }
  }
  
  @media (min-width: 992px) {
    #hero {
      height: 50vh;
      min-height: 650px;
    }
  
    #hero-cards {
      position: absolute;
      top: 120px;
      width: 100%;
    }
  }
}