@import "@packs/variables.scss";

#patient-list {
  tr {
    cursor: pointer;
  }

  .list-header {
    position: sticky;
    top: 0px;
    background-color: white;
    border-bottom: 2px solid black;
  }

  .active-category, .inactive-category {
    display: inline-block;
    transition: 0.2s;
  }
  
  .active-category {
    transform: rotateZ(180deg);
  }
  
  .inactive-category {
    transform: rotateZ(90deg);
  }

  .widget-text {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
  }
}
